body {
	text-align: center;
}

#heading {
	font-family: courier;
	font-size: 72px;
}

#chewie img {
	height: 50%;
}

#input_box input {
	width: 50%;
}

.bodytext1 {
	font-family: courier;
	font-size: 24px;
}
